<div class="notice">
  <p>
    This page contains statistical information gathered by experimentally applying simple Data Mining techniques to the
    <a
      href="http://redac.univ-tlse2.fr/lexicons/glawi_en.html">GLAWI</a> linguistic corpus.
  </p>

  <p>
    Consequently, this page does not replace complete grammar rules, as its purpose is to show how they are applied in real language.
  </p>

  <p>
    For further details, please refer to the
    <a href="https://github.com/giancosta86/Esprit">Esprit</a> project on GitHub.
  </p>
</div>