<div class="notice">
  <p>
    Cette page contient des informations obtenues expérimentalement grâce à de simples techniques d'analyse de données
    appliquées au corpus linguistique <a href="http://redac.univ-tlse2.fr/lexicons/glawi_en.html">GLAWI</a>:
    par conséquent, cette page ne peut pas remplacer les règle officielles d'une grammaire.
  </p>

  <p>
    Pour plus de détails, consultez s'il vous plaît le projet
    <a href="https://github.com/giancosta86/Esprit">Esprit</a> sur GitHub.
  </p>
</div>